@model List<SuperMarketComparison.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h3>Items <a class="btn btn-primary fw-bolder" asp-controller="Items" asp-action="Create">+</a></h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Min Price</th>
            <th>Max Price</th>
            <th>Avg Price</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            var prices = item.Prices;
            var minPrice = prices.Any() ? prices.Min(p => p.Price) : (decimal?)null;
            var maxPrice = prices.Any() ? prices.Max(p => p.Price) : (decimal?)null;
            var avgPrice = prices.Any() ? prices.Average(p => p.Price) : (decimal?)null;

            var minPriceEntry = prices.FirstOrDefault(p => p.Price == minPrice);
            var maxPriceEntry = prices.FirstOrDefault(p => p.Price == maxPrice);

            <tr>
                @* change text to less bold *@
                <td>
                    <a class="hover-item text-decoration-none fw-bold text-dark" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                        @item.Name
                    </a>
                </td>

                <td>@item.Description</td>

                <td>
                    @if (minPrice.HasValue)
                    {
                        <span>@minPrice.Value.ToString("N2") €</span>
                        <br />
                        <span class="small text-secondary">@minPriceEntry?.Store?.Name</span>
                    }
                    else
                    {
                        <span class="text-muted">N/A</span>
                    }
                </td>

                <td>
                    @if (maxPrice.HasValue)
                    {
                        <span>@maxPrice.Value.ToString("N2") €</span>
                        <br />
                        <span class="small text-secondary">@maxPriceEntry?.Store?.Name</span>
                    }
                    else
                    {
                        <span class="text-muted">N/A</span>
                    }
                </td>

                <td>
                    @if (avgPrice.HasValue)
                    {
                        <span>@avgPrice.Value.ToString("N2") €</span>
                    }
                    else
                    {
                        <span class="text-muted">N/A</span>
                    }
                </td>
                <td class="text-end">
                    <a class="btn btn-sm btn-info text-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>