@model List<SuperMarketComparison.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h3>Items <a class="btn btn-primary fw-bolder" asp-controller="Items" asp-action="Create">+</a></h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Max Price</th>
            <th>Min Price</th>
            <th>Avg Price</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                @* Change asp action to Item -> Route to item overview, and table of price updates *@
                <td><a asp-action="Edit" asp-route-id="@item.Id">@item.Name</a></td>
                <td>@item.Description</td>
                <td class="text-secondary">temp.</td>
                <td class="text-secondary">temp.</td>
                <td class="text-secondary">temp.</td>
                <td class="text-end">
                    <a class="btn btn-sm btn-info text-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>