@model List<SuperMarketComparison.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h3>
    <i class="fa-solid fa-cart-shopping"></i> My Carts
    <form asp-controller="Carts" asp-action="Create" method="post" style="display:inline" onsubmit="return confirm('Are you sure you want to Create a new Cart');" ">
        <button type="submit" class="btn btn-primary" >
            <i class="fa-solid fa-plus text-white"></i>
        </button>
    </form>
</h3>

<table class="table">
    <thead>
        <tr>
            <th>Cart ID</th>
            <th>Cart Created</th>
            <th>Cart Bought</th>
            <th>Mark Bought</th>
            <th>Min Est. €</th>
            <th>Max Est. €</th>
            <th>Actual €</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CreatedAt.ToString("dd-MM-yyyy")</td>
                <td>@(item.CompletedAt.HasValue
                        ? item.CompletedAt.Value.ToString("dd-MM-yyyy")
                        : "-"
                    )
                </td>

                <td>
                    @if (!item.CompletedAt.HasValue)
                    {
                        <form 
                            asp-action="MarkAsBought" 
                            method="post" 
                            style="display:inline" 
                            asp-route-id="@item.Id" 
                            onsubmit="return confirm('Are you sure you want Mark this cart as Bought?');"
                        >
                            <div 
                                class="input-group input-group-sm" 
                                style="max-width:150px; display:inline-flex"
                            >
                                <input 
                                    type="number" 
                                    name="actualPrice" 
                                    step="0.01" 
                                    class="form-control"
                                    placeholder="Actual Price"
                                    required
                                />
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa-solid fa-square text-white"></i>
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <span class="text-success"><i class="fa-solid fa-square-check fa-2x"></i></span>
                    }
                </td>

                <td>@item.MinEstPrice.ToString("N2") €</td>
                <td>@item.MaxEstPrice.ToString("N2") €</td>
                <td>@(item.ActualPrice.HasValue
                        ? item.ActualPrice.Value.ToString("N2") + "€"
                        : "-"
                    )
                </td>

                <td class="text-end">
                    <a class="btn btn-sm btn-info text-light" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <form 
                        asp-action="DeleteCart" 
                        method="post" 
                        style="display:inline" 
                        asp-route-id="@item.Id" 
                        onsubmit="return confirm('Are you sure you want to delete this item?');"
                    >
                        <button type="submit" class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>